// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//External Css

//@import "node_modules/font-awesome/scss/font-awesome.scss";
// @import 'theme.min.css';
// @import 'theme-plugin.css';

 /* The Modal (background) */
 .modal {
    /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left:0;
  top:0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 0px solid #888;
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float:inline-start;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}